.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.cartItem {
  max-width: 33rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 50px;

  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.229);
}

.cart-image {
  width: 30%;
}

.cart-details {
}

.cart-input {
  width: 30px;
  text-align: center;
}

.cart-button {
}
